@media print {
  body > *:not(.printable-area) {
    display: none !important;
  }

  @page {
    margin: 0; /* Elimina márgenes de página */
    size: auto; /* Usa tamaño real de papel */
  }

  .printable-area {
    display: block !important;
    background-color: white;
    margin: 0; /* Quitar margen externo */
    padding: 0; /* Quitar padding externo */
    width: 100%;
  }

  .receipt-box {
    width: 100%;
    margin: 0; /* Sin margen lateral */
    padding: 0; /* Sin padding lateral */
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    line-height: 1.4;
    color: #000;
    text-align: left;
    word-wrap: break-word;
    font-weight: bold;
  }

  .receipt-box .header .logo {
    margin-bottom: 5px;
  }

  .receipt-box .header .logo img {
    display: block;
    margin: 0 auto; /* Centra logo */
    max-width: 100%;
  }

  .receipt-box h1 {
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
  }

  .receipt-box h2 {
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-transform: uppercase;
  }

  .receipt-box p {
    margin: 1px 0;
    text-align: left;
  }

  .receipt-box .header,
  .receipt-box .footer {
    text-align: center;
  }

  .receipt-box .header p {
    text-align: center;
  }

  .receipt-box .totals {
    margin-top: 8px;
  }

  .receipt-box .totals p {
    display: flex;
    justify-content: space-between;
  }

  .receipt-box .totals p.total span {
    font-size: 12px;
  }

  .receipt-box .footer {
    margin-top: 10px;
    border-top: 1px dashed #000;
    padding-top: 5px;
  }

  .receipt-box .footer p {
    font-size: 8px;
    text-align: center;
  }
}
